/* Basic */

.font {
    font-style: italic;
    line-height: 2; /* Kc các line khi có xuống dòng */
    width: 10%;
}

/* Flexbox */
.c3cangiua {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 500px;
}

.body {
    background-color: burlywood;
}