/* Sun */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    position: relative;
}

.full-sun {
    width: 80px;
    height: 80px;
    left: 130px;
    background-color: transparent;
    position: relative;
    animation: sunUp 10s linear infinite;
}

.sun, .sun ~ div {
    transition: 0.6s ease-in-out; /* éo hiểu transition làm mẹ gì nhưng cứ dùng cho chắc nếu cần gì */
    animation: shine 10s linear infinite;
}

@keyframes sunUp {
    0% {
        top: -40px;   
    }
    50% {
        top: -150px;
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
        top: -150px;
    }
}

@keyframes shine {
    30% {
        filter: brightness(0.5);
    }
    40% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    60% {
        filter: brightness(2.5);
    }
    70% {
        filter: brightness(3);
    }
    100% {
        filter: brightness(3);
    }
}

.sun {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
}

.sun ~ div {
    width: 2px;
    height: 140px;
    background-color: orange;
    position: absolute;
    top: -30px;
    left: 39px;
}

.ray1 {
    transform: rotate(0);
}

.ray2 {
    transform: rotate(30deg);
}

.ray3 {
    transform: rotate(60deg);
}

.ray4 {
    transform: rotate(90deg);
}

.ray5 {
    transform: rotate(120deg);
}

.ray6 {
    transform: rotate(150deg);
}

.cloud {
    position: relative;
    height: 100px;
    width: 200px;
    background-color: white;
}

.cloud > div {
    border: 2px solid black;
    border: none;
    background-color: grey;
    animation: bright linear 10s infinite;
}

@keyframes bright {
    /* from to cũng được */
    to {
        background-color: skyblue;
    }
}

.c1 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 120px;
    left: 30px;
    z-index: 1;
}

.c2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    right: 20px;
    bottom: 105px;
    z-index: 1;
}

.c3 {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    bottom: 100px;
    z-index: 2;
}


a {
    padding: 6px;
    display: block;
    width: 50px;
    font-size: 17px;
    margin: 10px auto;
    border: 2px solid;
    text-decoration: none;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 6s infinite;
}
.btn-100 {
    animation-delay: 0s;
}
.btn-500 {
    animation-delay: 2s;
}
.btn-1250 {
    animation-delay: 4s;
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    23.333% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 208, 0, 0.2);
        box-shadow: 00 0 0 10px rgba(255, 208, 0, 0.2);
    }
    33.333% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
    /* Tính toán cho kỹ, có 3 animation liên tiếp nên dùng 33.333% mỗi cái là đúng r, phần còn lại là thời gian chờ */
}


p {
    background-color: #476CFF;
    text-align: center;
    width: 100px;
    position: relative;
    animation: moveRight 5s infinite alternate;
}
@keyframes moveRight {
    0% {
        background-color: #73BEFF;
        left: 0;
        top: 0;
    }
    30% {
        background-color: #FFFF00;
        left: 150px;
        top: 40px;
        transform: rotate(0deg);
    }
    60% {
        background-color: #FF0000;
        left: 300px;
        top: 0;
        transform: rotate(-180deg);
    }
    100% {
        background-color: #BC70FF;
        left: 400px;
        top: 60px;
        transform: rotate(180deg);
    }
}