.container {
  background-image: url("https://picsum.photos/1000/1000");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 500px;
  width: 500px;
}




:root {
  --magnifer-width: 85;
  --magnifer-height: 85;
}

.container2 {
  width: 500px;
  height: 400px;
  background-size: cover;
  background-image: url("https://picsum.photos/1000/1000");
  background-repeat: no-repeat;
  position: relative;
}

.magnifier {
  position: absolute;
  width: calc(var(--magnifer-width) * 1px);
  height: calc(var(--magnifer-height) * 1px);
  border: 3px solid #000;
  cursor: none;
  background-image: url("https://picsum.photos/1000/1000");
  background-repeat: no-repeat;
}



body {
  background: #000;
}

.stage {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.actor {
  animation: kenburns 15s linear infinite;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  inset: 0;
  opacity: 0;
  position: absolute;
  scale: 1.2;
  width: 100vw;
}

.actor:nth-child(1) {
  background-image: url("https://images.unsplash.com/photo-1504221507732-5246c045949b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzQ2OTA1MjE&ixlib=rb-4.0.3&q=80");
}
.actor:nth-child(2) {
  animation-delay: 5s;
  background-image: url("https://images.unsplash.com/photo-1595131838595-3154b9f4450b?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzQ2OTA1MjE&ixlib=rb-4.0.3&q=80");
}
.actor:nth-child(3) {
  animation-delay: 10s;
  background-image: url("https://images.unsplash.com/photo-1618331835717-801e976710b2?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NzQ2OTA1NjU&ixlib=rb-4.0.3&q=80");
}

@keyframes kenburns {
  25% {
    opacity: 1;
  }

  50% {
    opacity: .8;
    scale: 1;
  }

  60% {
    opacity: 0;
  }
}



button{
  padding: 10px;
  font-size: large;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  background: transparent linear-gradient(166deg,rgba(9,3,51,0), rgb(144, 43, 7) 27%,rgb(215, 123, 90)73%,rgba(9,3,51,0)) 0 0 no-repeat padding-box;
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}