/* Basic */

div {
    position: relative;
}
.container {
    height: 600px;
    width: 200px;
    background: lightgray;
}
.khoi1 {
    width: 100%;
    padding-top: 100%;
    background: green;
    color: white;
}
span {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    padding: 5px;
}


.red, .green, .blue {
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
}
.red {
    z-index: 10;
    top: 20px;
    left: 80px;
    background: red;
}
#ontop{
    opacity: 0.9;
}
.green {
    z-index: 2;
    top: 80px;
    left: 20px;
    background: green;
}
.blue {
    z-index: 3;
    top: 100px;
    left: 100px;
    background: blue;
}


/* Biến trong css */
/* mọi thẻ đều có gốc mang thuộc tính chung là :root cấp thấp nhất */
/* định nghĩa custom properties với -- */
:root {
    --primary-color: blue;
}
header {
    --primary-color: #ff0000;
}
p {
    color: var(--primary-color, var(--my-var, pink));
    /* giá trị của biến chỉ có tác dụng khi lồng đúng trong thẻ header sẽ cho màu đỏ, mặc định cho màu xanh */
    /* var(biến, default value nếu k thấy biến); biến global dưới root, biến local trong class thg */
    /* var thg dùng khi ta cần dùng màu kiểu dùng nhiều nơi thì làm như này có thể đổi color rất tiện */
}


/*  CSS Selector */
/* Nhắm mục tiêu vào các thuộc tính có giá trị att href kết thúc bằng .zip và i là insensitive*/
a[href$=".zip" i] {
    color: yellow;
}
/* Nhắm mục tiêu vào mọi thẻ có thuộc tính có giá trị href chứa "google.com" */
[href*="google.com"] { color: red; }
/* nhắm các thẻ thiếu alt or alt bằng rỗng */
img:not([alt]) {
    border: 2px dashed red;
}
img[alt=""] {
    border: 2px dashed red;
}
